*,
*:before,
*:after, {
    box-sizing: border-box;
}

body{
    font: 14px 'Open Sans', Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    outline: none;
}

img {
	max-width: 50%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.wrapper-fix {
    display: flex;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 15px;
}

.header,
.footer {
    width: 100%;
    flex-shrink: 1;
}

.header {
    padding: 10px 0;
}

.header_nav-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_nav {
    display: flex;
    margin: 0 -10px;
}

.header_nav-item {
    padding: 0 10px;
}

/* Для main */
.flex-wrap {
	flex-wrap: wrap;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-uppercase {
	text-transform: uppercase;
}

.standart-section {
	padding: 80px 0;
}

.section-title {
	font-weight: 900;
	margin-bottom: 75px;
	font-size: 30px;
}

.catalog-content {
	width: 33.3333%;
	padding: 0 15px;
}


.flex-row {
	margin: 0 -15px;
}

.short-description {
    text-align: center;
    color:slategrey;
}
.product-item {
	background-color: #fff;
	box-shadow: 0 13px 27px rgba(0, 0, 0, 0.15);
	padding: 20px;
	margin-bottom: 30px;
	position: relative;
}

.product-item,
.product-img {
	display: block;
	margin-bottom: 20px;
}

.product-item,
.product-title {
	font-size: 21px;
	font-weight: 700;
    margin-bottom: 20px;
}

.product-button {
    font-size: 20px;
    text-align: right;
}
/* /Для main */